@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

.modal-full-screen {
  --width: 100vw;
  --height: 100vh;

  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

ion-header {
  padding-top: 28px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  ion-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  .search-container {
    padding: 10px;

    .input-wrapper {
      position: relative;

      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 8px 36px 8px 12px;
        font-size: 16px;
        background: white;
        color: black;
      }

      ion-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: gray;
        font-size: 20px;
      }
    }
  }
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  padding: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

ion-card {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  &:hover {
    transform: translateY(-5px);
  }

  img {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }

  ion-card-header {
    padding: 16px 16px 2px;

    ion-card-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    ion-card-subtitle {
      font-size: 0.95rem;
      margin-top: 4px;
      display: flex;
      align-items: center;
      gap: 4px;

      label {
        font-weight: 500;
        margin-right: 6px;
      }

      .flag {
        width: 15px;
        height: 15px;
        border-radius: 10px;
        vertical-align: middle;
      }
    }
  }

  ion-card-content {
    text-align: center;

    button {
      background: var(--ion-color-primary);
      width: 50%;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--ion-color-primary-shade);
      }
    }
  }
}

.score {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;

  label {
    padding-top: 5px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
